/* Couleurs zen et reposantes */
:root {
  --beige-pastel: #e0dccb; /* Un peu plus foncé mais toujours pastel */
  --beige-dark: #d2b48c;
  --text-color: #333;
  --background-color: #f5f5dc; /* Fond légèrement plus foncé */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  background-color: var(--beige-pastel);
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Utiliser toute la largeur de la page */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
  color: var(--beige-dark);
}

.navbar {
  background-color: var(--beige-dark);
  padding: 10px 0;
  width: 100%; /* Utiliser toute la largeur de la page */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu.open .bar1 {
  transform: rotate(45deg);
  top: 0;
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  transform: rotate(-45deg);
  top: 0;
}

.burger-menu div {
  width: 100%;
  height: 3px;
  background-color: var(--background-color);
  border-radius: 3px;
  transition: all 0.3s ease;
  position: absolute;
}

.burger-menu .bar1 {
  top: 0;
}

.burger-menu .bar2 {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu .bar3 {
  bottom: 0;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: max-height 0.3s ease-in-out;
}

.nav-links.open {
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--beige-dark);
  width: 100%;
  text-align: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--background-color);
  font-weight: bold;
}

.section {
  padding: 80px 20px 40px; /* Ajout de padding pour créer de l'espace */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section.reverse {
  flex-direction: row-reverse;
}

.section-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.section-text-container {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.section h2 {
  color: var(--beige-dark);
  margin-top: 20px; /* Ajout de margin pour créer de l'espace */
}

.section-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-section {
  padding: 150px 20px 40px; /* Ajout de padding pour créer de l'espace */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-section.reverse {
  flex-direction: row-reverse;
}

.home-section-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-section-text-container {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.home-section h2 {
  color: var(--beige-dark);
  margin-top: 20px; /* Ajout de margin pour créer de l'espace */
}

.home-section-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarifs-section {
  padding: 80px 20px 40px; /* Ajout de padding pour créer de l'espace */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tarifs-section.reverse {
  flex-direction: row-reverse;
}

.tarifs-section-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.tarifs-section-text-container {
  flex: 1;
  padding: 0 20px;
  text-align: left;
}

.tarifs-section h2 {
  color: var(--beige-dark);
  margin-top: 80px; /* Ajout de margin pour créer de l'espace */
}

.tarifs-section-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-list {
  margin: 20px 0;
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.service-list p {
  margin: 10px 0;
  padding-left: 0; /* Enlever l'indentation par défaut */
  position: relative;
}

.footer {
  background-color: var(--beige-pastel);
  padding: 20px 0;
  text-align: center;
  width: 100%; /* Utiliser toute la largeur de la page */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.footer p {
  margin: 0;
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }

  .nav-links.open {
    max-height: 300px; /* Adjust this value based on your content */
  }

  .nav-links li {
    margin: 10px 0;
  }

  .burger-menu {
    display: flex;
  }

  .section {
    flex-direction: column;
    text-align: center;
  }

  .section.reverse {
    flex-direction: column;
  }

  .section-image-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2em;
  }

  .section h2 {
    font-size: 1.5em;
  }

  .footer p {
    font-size: 0.8em;
  }
}
